/* main page css */
main {
    margin: 5rem 2rem 5rem 10rem;
}
main h1 {
    margin: 3rem 0 1rem 0;
}
main p {
    margin: 1rem 0;
}

/* menu to parts of website */
aside {
    border: 0.1rem solid black;
    border-radius: 1rem;
    padding: 2.4rem 1rem;
    margin: 5rem 10rem 5rem 2rem;
    width: 30rem;
    height: fit-content;
}

/* tablet and phone layout */
@media (max-width: 1024px) {
    aside {
        margin: 2rem;
        width: fit-content;
    }
    main {
        margin: 2rem;
    }
    main p {
        font-size: 2rem;
    }
    aside a {
        font-size: 2rem;
    }
    main h1 {
        font-size: 4rem;
    }
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer"
        ;
    }
    aside {
        width: auto;
    }
}