@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

/* #region CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/*
10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}
/* #endregion */

:root {
    --imperial-blue: #00296bff;
    --french-blue: #003f88ff;
    --steel-azure: #00509dff;
    --school-bus-yellow: #fdc500ff;
    --gold: #ffd500ff;
    --light-yellow: #ffea82;
}

/* global varialbes */
html {
    font-size: 62.5%; /* makes 1rem = 10px */
}
body {
    font-size: 1.6rem;
    background-color: var(--french-blue);
    font-family: "Gelasio", serif;
}
a {
    text-decoration: none;
}

.container {
    background-color: #fff;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer"
    ;
}

header {
    font-size: 1.8rem;
    grid-area: header;
    background-color: var(--french-blue);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    box-shadow: 0 0.2rem 0.4rem #000;

}
header div {
    background-color: var(--steel-azure);
    border-radius: 1rem;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}
header nav {
    border-radius: 1rem;
    background-color: var(--steel-azure);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    
    
}
header nav a {
    color: #fff;
}
header nav a:hover {
    color: var(--gold);
}
header nav .active {
    background-color: var(--school-bus-yellow);
    color: var(--french-blue);
    padding: 0.3rem;
    border-radius: 0.8rem;
}
header img {
    justify-self: center;
    width: 7rem;

}
header button {
    height: 3rem;
    width: 3rem;
    text-align: center;
    border-radius: 2rem;
    background-color: var(--school-bus-yellow);
}
header search {
}
header search form {
}
header search form input {
    width: 15rem;
    background-color: var(--school-bus-yellow);
    border-radius: 1rem;
    margin: 0.4rem;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    box-shadow: 0 -0.2rem 0.4rem #000;
    font-size: 1.8rem;
    grid-area: footer;
    margin-top: auto;
    padding: 3rem;
    background-color: var(--french-blue);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "top-left top-center top-right"
    "bottom-left bottom-right ."
    ;
    place-items: center;
}
footer a {
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
}
footer a:hover {
    color: var(--gold);
}
footer p {
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;

}

.topLeft {
    grid-area: top-left;
}
.topCenter {
    grid-area: top-center;
}
.topRight {
    grid-area: top-right;
}
.bottomLeft {
    grid-area: bottom-left;
}
.bottomRight {
    grid-area: bottom-right;
}


@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {

}
