main {
    background-image: url(../images/anna-hunko-akVefdJ2q_o-unsplash.webp);
    background-position: 0 -30rem;
}
main h1 {
    font-size: 6rem;
    font-family: "Carter One", system-ui;
    margin-top: 3rem;
    text-align: center;
    color: var(--imperial-blue);
}
main nav {
    display: block;
    margin: 2rem auto;
    background-color: var(--steel-azure);
    border-radius: 2rem;
    width: 50rem;
    text-align: center;
}
main nav a {
    font-size: 1.8rem;
    padding: 4rem;
    color: #fff;
}
main nav a:hover {
    color: var(--gold);
}
.boxes {
    margin: 5rem;
    display: flex;
    gap: 10rem;
}
.infobox {
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--light-yellow);
    flex: 1;
    min-width: 10rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #000;
}
.infobox img {
    border-radius: 1rem;
    width: 100%;
}
.infobox h2 {
    margin-top: 1rem;
}
.infobox p {
    margin: 1.8rem 0;
}
.infobox a {
    font-size: 1.8rem;
}